/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}
body {
  text-align: center;
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}
header {
  background-color: black;
  padding: 30px;
}
.corso-web-developer {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 250px;
}
h1 {
  color: #27a6cb;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px;
}
.corso-web-developer p {
  font-size: 1.1rem;
}
.corso-web-developer button {
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}
.sezionedue h2 {
  color: #27a6cb;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 3%;
}
.sezionedue p {
  font-size: 1.1rem;
  padding: 2%;
}
.imgcircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.sezionetre {
  background-color: #e42e0c;
  height: 250px;
}
.sezionetre h2 {
  font-weight: bold;
  color: white;
  padding: 5%;
  font-size: 1.8rem;
}
.corsivo {
  color: white;
  font-size: 1.1rem;
  font-style: italic;
  padding: 1.5%;
}
.sezionetre p {
  color: white;
}
.primodiv {
  border-radius: 5px;
  border: solid 1px #dee1e3;
  margin-bottom: 2rem;
  padding: 5%;
}
h3 {
  color: #27a6cb;
  font-size: 1.3rem;
  font-weight: bold;
}
.primodiv p {
  font-size: 1rem;
}
footer {
  background-color: #27a1c0;
  height: 300px;
}
hr {
  width: 50%;
}
footer h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  padding: 6%;
}
footer a {
  color: white;
  display: block;
}
footer p {
  color: white;
}

i {
  padding-right: 5px;
}
.fine {
  color: white;
  padding: 4%;
}
